# 1905387 Chaudhary Hamdan
### Lab 7

# 1

In [25]:
li = [1, 2, 3]
tu = (1, 2, 3)
di = {1: 'a', 2: 'b', 3: 'c'}
se = {1, 2, 3, 1, 3}

for ele in li:
    print(ele, end=', ')
print()

for ele in tu:
    print(ele, end=', ')
print()
for key in di:
    print(key, ':', di[key], end=', ')
print()
for ele in se:
    print(ele, end=', ')
print()

1, 2, 3,
1, 2, 3,
1 : a, 2 : b, 3 : c,
1, 2, 3,

# 2

In [9]:
li = [1, 2, 3]
pos = 2
print(li[pos-1])
print()

import numpy as np
nli = np.array(li)
print(nli.dtype)
print(nli.ndim)
print(nli.shape)

2

int32
1
(3,)

# 3

In [13]:
RangeVar = list(range(1, 50+1, 10))
print(RangeVar)

[1, 11, 21, 31, 41]

# 4

In [12]:
#    0123456789
s = 'Techniquelab'
pos = 5
print(s[pos-1])
print(s.index('l'))

n
9

# 5

In [16]:
RangeVar = list(range(1, 50+1, 10))
print(11 in RangeVar)
idx = 3
print(RangeVar[idx])

True
31

# 6

In [23]:
li = [100, 'Alice', 12, 'Programmer']
print(li)
li.append('Python')
print(li)

[100, 'Alice', 12, 'Programmer']
[100, 'Alice', 12, 'Programmer', 'Python']

# 7

In [21]:
tu = (100, 'Alice', 12, 'Programmer')
print(tu)
tu = tuple(list(tu) + ['Python', 'ML'])
print(tu)

(100, 'Alice', 12, 'Programmer')
(100, 'Alice', 12, 'Programmer', 'Python', 'ML')

# 8

In [24]:
tu = (100, 'Alice', 12, 'Programmer')
for i in range(3):
    for j in range(3):
        print(tu[j], end=', ')
    print()

100, Alice, 12,
100, Alice, 12,
100, Alice, 12,